*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:  #80d0c7;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.button{
    width: 75px;
    height: 75px;
    font-size: 35px;
    margin: 2px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    color: white;
    outline: none;
}
.buttonZero{
    width: 160px;
    height: 75px;
    font-size: 40px;    
    margin: 2px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    color: white; 
    background-color: black;
    outline: none;
}
#textview{
    width: 320px;
    height: 60px;
    margin: 5px;
    font-size: 50px;
    text-align: right;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
}
#equals{
    height: 150px;
    background-color: magenta;
    font-size: 60px;
}
p{
    font-size: 22px;
}
.button:hover{
    box-shadow: 0 0 11px rgba(3, 19, 243, 0.2);
}
.buttonZero:hover{
    box-shadow: 0 0 11px rgba(3, 19, 243, 0.2);
}
#clear{
    background-color: red;
}
#operator{
    background-color: blue;
}
#number{
    background-color: black;
}
#decimal{
    background-color: black;
    font-size: 30px;
}
.allButtons{
    background-color: white;
    padding: 30px;
    border-radius: 25px;
}
.header{
    font-size: 50px;
    color: white;
}
@media (max-width :600px){
    *{
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
    }
    body{
        background-color:  #80d0c7;
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }
    .button{
        width: 50px;
        height: 50px;
        font-size: 25px;
        margin: 2px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        color: white;
        outline: none;
    }
    .buttonZero{
        width: 120px;
        height: 50px;
        font-size: 40px;    
        margin: 2px;
        border-radius: 50px;
        cursor: pointer;
        border: none;
        color: white; 
        background-color: black;
        outline: none;
    }
    #textview{
        width: 240px;
        height: 60px;
        margin: 5px;
        font-size: 50px;
        text-align: right;
        background-color: black;
        color: white;
        border: none;
        border-radius: 20px;
    }
    #equals{
        height: 110px;
        background-color: magenta;
        font-size: 60px;
    }
    p{
        font-size: 22px;
    }
    #decimal{
        background-color: black;
        font-size: 30px;
    }
    .header{
        font-size: 50px;
        color: white;
    }
    .button:hover{
        box-shadow: 0 0 11px rgba(3, 19, 243, 0.2);
    }
    .buttonZero:hover{
        box-shadow: 0 0 11px rgba(3, 19, 243, 0.2);
    }
    #clear{
        background-color: red;
    }
    #operator{
        background-color: blue;
    }
    #number{
        background-color: black;
    }
    .allButtons{
        background-color: white;
        padding: 10px;
        border-radius: 25px;
    }
}
